.image-description-container {
    position: absolute;
    top: 80%;
    width: 100%;
}

.image-heading-container {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
    transform: translateY(-50%);
}
